@model MyHR.Domain.Models.Record
@{
    /**/

    /**/

    ViewBag.Title = "Doc";
}

<h2>Record</h2>

@using (Html.BeginForm("ExportToWord", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Pin, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Pin, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Pin, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Adresa, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Adresa, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Adresa, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Manager, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Manager, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Manager, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Vechime, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Vechime, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Vechime, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PositionName, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.PositionName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PositionName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DepartmentName, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.DepartmentName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DepartmentName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn-primary">Download</button>
}
